@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poetsen+One&display=swap');

.serv-text h2{
    font-family: Montserrat;
    font-weight:  800;
    font-size:   40px;
    line-height:48.76px;
    }

.serv-text p{
color: #4A4A4A;
font-family: Montserrat;
font-weight: 400;
font-size: 20px;
line-height:24.38px;
}    

.points{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.firts-one {
    display: flex;
    align-items: center;
}

.firts-one img{
    margin-right: 20px;
}

.firts-one p{
    align-items: center;
    text-align: center;
    margin-top: 10px;
}